# Gradle files
.gradle/
build/
/*/build/

# Local configuration files
local.properties

# Log files
*.log

# Proguard folder
proguard/

# OS/System/IDE files
.DS_Store
Thumbs.db
*.iml
.idea/
.kotlin/
.navigation/

# Built artifacts
*.apk
*.ap_
*.dex
*.class
*.hprof

# External native build folders
.externalNativeBuild/
.cxx/

# App Specific
/app/google-services.json
firebase-debug.log
ui-debug.log
